# Scilab ( http://www.scilab.org/ ) - This file is part of Scilab
# Copyright (C) Dassault Systemes - 2022 - Clement DAVID
#
#
# This YAML file describe the publish stage of the CI. This stage is used to
# extract artifacts and publish them to other websites.
#

# generate index.html files for each directory in public/
index_gitlab_pages:
  stage: publish
  tags: [x86_64-linux-gnu, docker, scilab]
  image: $DOCKER_LINUX_BUILDER:$DOCKER_TAG
  script:
    - mkdir public ||true
    - |
      find public -type d -print0 | while IFS= read -r -d '' d; do
        cd $CI_PROJECT_DIR/$d;
        echo '<html><body>' >index.html;
        find . -name '*.html' -printf '<a href="%p">%p</a><br/>\n' >>index.html;
        echo '</body></html>' >>index.html;
      done;
  artifacts:
    paths:
      - public
  when: always
